{{ define "main" }}
  <h1>{{ .Title }}</h1>
  
  <p>
    {{ $dateFormat := (partial "date-format.html" | string) }}
    {{ $publishDate := .PublishDate }}
    <strong>Published: </strong>{{ $publishDate.Format $dateFormat }}
    
    {{ with .Lastmod }}
      {{ if gt . $publishDate }}
        <span class="margin-left-1 margin-right-1">|</span>
        <strong>Last modified: </strong>{{ .Format $dateFormat }}
      {{ end }}
    {{ end }}
    
    {{ $tags := slice }}
    {{ with .Params.tags }}
      <br>
      <strong>Tags: </strong>
      {{ range . }}
        {{ $href := print ("tags/" | absLangURL) (. | urlize) "/" }}
        {{ $element := printf "<a href=\"%s\">%s</a>" $href . }}
        {{ $tags = $tags | append $element }}
      {{ end }}
      {{ delimit $tags ", " }}
    {{ end }}
  </p>
  
  {{ if ne .Params.toc false }}
    {{ partial "toc.html" . }}
  {{ end }}
  
  {{ partial "header-link.html" .Content }}

{{ end }}
