{{ define "main" }}
  <h1>{{ .Title }}</h1>
  
  <p>
    <strong>Publish date: </strong>{{ .PublishDate.Format "2006-01-02" }}
    {{ $tags := slice }}
    {{ with .Params.tags }}
      <br>
      <strong>Tags: </strong>
      {{ range . }}
        {{ $href := print ("tags/" | absLangURL) (. | urlize) "/" }}
        {{ $element := printf "<a href=\"%s\">%s</a>" $href . }}
        {{ $tags = $tags | append $element }}
      {{ end }}
      {{ delimit $tags ", " }}
    {{ end }}
  </p>
  
  {{ if ne .Params.toc false }}
    {{ partial "toc.html" . }}
  {{ end }}
  
  {{ partial "header-link.html" .Content }}

{{ end }}
