{{ define "main" }}
  <h1>{{ .Title }}</h1>
  
  <p class="text-gray-50">
    {{ $dateFormat := (partial "date-format.html" | string) }}
    {{ $publishDate := .PublishDate }}
    {{ $formattedPublishDate := $publishDate.Format $dateFormat }}
    <strong>Published: </strong>{{ $formattedPublishDate }}
    
    {{ with .Lastmod }}
      {{ $formattedLastmod := .Format $dateFormat }}
      {{ if gt $formattedLastmod $formattedPublishDate }}
        &bull; <strong>Lastmod: </strong>{{ $formattedLastmod }}
      {{ end }}
    {{ end }}
    
    {{ $tags := slice }}
    {{ with .Params.tags }}
      <br>
      <span class="post-tags">
        <strong>Tags: </strong>
        {{ range . }}
          {{ $href := print ("tags/" | absLangURL) (. | urlize) "/" }}
          {{ $element := printf "<a href=\"%s\">%s</a>" $href . }}
          {{ $tags = $tags | append $element }}
        {{ end }}
        {{ delimit $tags " &bull; " }}
      {{ end }}
    </span>
  </p>
  
  {{ if ne .Params.toc false }}
    {{ partial "toc.html" . }}
  {{ end }}
  
  {{ partial "header-link.html" .Content }}

  {{ with .NextInSection }}
    <br>
    <span class="text-gray-50">
      <strong>Next:</strong> <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </span>
  {{ end }}

  {{ with .PrevInSection }}
    <br>
    <span class="text-gray-50">
      <strong>Previous:</strong> <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </span>
  {{ end }}
  
  {{ if ne .Params.show_comments false }}
    {{ partial "comments.html" . }}
  {{ end }}

  {{ partial "google-ads.html" . }}

{{ end }}
