{{ define "main" }}
<h1>{{ .Title }}</h1>
<p class="text-gray-50" id="list-count">Count: {{ len .Pages }}</p>
{{ if site.Params.search }}
<input
  class="usa-input"
  id="search"
  type="text"
  placeholder="Search by title..."
  aria-label="Search by title"
/>
{{ end }}
<ul id="list">
  {{ range .Pages.ByPublishDate.Reverse }}
  <li>
    {{ $dateFormat := (partial "date-format.html" | string) }}
    <span class="text-gray-50">{{ .PublishDate.Format $dateFormat }}</span>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>
{{ end }}
