/* Code */
code, 
pre {
  font-size: .77401rem;
  background-color: rgba(0,0,0,.05);
  font-weight: 400;
}

pre {
  padding: 1rem;
}

pre code {
  padding: 0;
  background-color: transparent;
}

code {
  padding: 2px 0.25rem;
  border-radius: 2px;
}
