/* Focus */
details summary:focus {
  outline-offset: 0px;
  outline: rgb(36, 145, 255) solid 0.25rem;
}

/* Code */
code, 
pre {
  font-size: .9rem;
  background-color: rgba(0,0,0,.05);
  font-weight: 400;
}

pre {
  padding: 1rem;
}

pre code {
  padding: 0;
  background-color: transparent;
}

code {
  padding: 2px 0.25rem;
  border-radius: 2px;
}

/* Blockquote */
blockquote {
  border-left: .25rem solid #dcdee0;
  padding-left: 1rem;
  margin-left: 0;
  max-width: 68ex;
}

/* Table of contents */
.toc {
  border: 1px solid #dcdee0;
  padding: 1rem; 
  margin-top: 1rem;
}

/* Navbar */
.usa-nav.is-visible {
  border-left: 1px solid #dcdee0;
}
