baseURL: https://example.com
languageCode: en-us
defaultContentLanguage: en
title: USWDS
theme: uswds-hugo-theme

enableRobotsTXT: true
timeout: 45000

pygmentsCodefences: true
pygmentsStyle: pygments

googleAnalytics: UA-123456789-1
# disqusShortname: yourdiscussshortname

taxonomies:
  tag: tags

permalinks:
  post: /:filename/

imaging:
  quality: 90

params:
  # footer: Made with [Hugo](https://gohugo.io/). Themed by [Lil Boot](https://github.com/zwbetz-gh/lil-boot-hugo-theme). Hosted on [Netlify](https://www.netlify.com/).
  
menu:
  nav:
    - name: Home
      url: /
      weight: 1
    - name: Blog
      url: /post/
      weight: 2
    - name: Tags
      url: /tags/
      weight: 3
