<div class="container">
  <nav class="nav nav-pills nav-justified">
    {{ $current := . }}
    {{ range site.Menus.nav }}
      {{ $active := or ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ $active = or $active (and (eq .Name "Blog") (eq $current.Section "post")) }}
      {{ $active = or $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
      <a class="nav-item nav-link {{ if $active }}active{{ end }}" href="{{ .URL }}">
        {{ (printf "%s<br>%s" .Pre .Name) | safeHTML }}
      </a>
    {{ end }}
  </nav>
</div>
